body{
    margin: 0;
}
.main{  
    display: flex;
}

.main .container{
    position: relative;
    flex: 5;  
    left: 323px;
    height: 1080px;
}

.newFile2{
    position: absolute;
    top: 292px;
    bottom: 0;
    left: 456px;
    right: 0;
    width: 664px;
    height: 555px;
}

.newFile2 h1{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 43px;
    font-size: 30px;
    font-weight: normal bold;
    color: #5016BF;
}

.newFile2 form{
    position: relative;
    margin-top: 74px;
}

.newFile2 .input4{
    width: 574px;
    height: 88px;
    margin-top: 17px;
    border: 0.5px solid #AFAFAF;
    border-radius: 44px;
    
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #AFAFAF;
    padding-left: 44px;
    padding-right: 43px;

    background: url("../../assets/upload.png") center right 43px no-repeat; 
}
.newFile2 .input5{
    width: 574px;
    height: 88px;
    margin-top: 17px;
    border: 0.5px solid #AFAFAF;
    border-radius: 44px;
    
    text-align: left;
    font: normal 30px Poppins;
    letter-spacing: 0px;
    color: #AFAFAF;
    padding-left: 44px;

    background: url("../../assets/pay.png") center right 43px no-repeat; 
}

.newFile2 .input6{
    width: 574px;
    height: 88px;
    margin-top: 17px;
    border: 0.5px solid #AFAFAF;
    border-radius: 44px;
    
    text-align: left;
    font: normal 30px Poppins;
    letter-spacing: 0px;
    color: #AFAFAF;
    padding-left: 44px;

    background: url("../../assets/add.png") center right 43px no-repeat; 
}

  
.newFile2 .submit3 {
    width: 664px;
    height: 88px;
    margin-top: 35px;
    background: #5016BF 0% 0% no-repeat padding-box;
    border-radius: 44px;
    font-size: 30px;
    font: normal 600 30px Poppins;
    color: #FFFFFF;
    border: none;
}