body{
    margin: 0;
    height: 100%;
}
.main{  
    display: flex;
}

.main .container{
    position: relative;
    left: 323px;

}

.newFile{
    position: absolute;
    top: 292px;
    bottom: 0;
    left: 456px;
    right: 0;
    width: 664px;
    height: 532px;
}

.newFile h1{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 43px;
    font-size: 30px;
    font-weight: normal bold;
    color: #5016BF;
}

.newFile form{
    position: relative;
    margin-top: 74px;
}

.newFile .input2{
    width: 574px;
    height: 88px;
    margin-top: 17px;
    border: 0.5px solid #AFAFAF;
    border-radius: 44px;
    
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #AFAFAF;
    padding-left: 44px;
    padding-right: 43px;

    background: url("../../assets/upload.png") center right 43px no-repeat; 
}
.newFile .input3{
    width: 574px;
    height: 88px;
    margin-top: 17px;
    border: 0.5px solid #AFAFAF;
    border-radius: 44px;
    
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #AFAFAF;
    padding-left: 44px;
    padding-right: 43px;

    background: url("../../assets/add.png") center right 43px no-repeat; 
}
.newFile form img{
    position: absolute;

}
  
.newFile .submit2 {
    width: 664px;
    height: 88px;
    margin-top: 35px;
    background: #5016BF 0% 0% no-repeat padding-box;
    border-radius: 44px;
    font-size: 30px;
    font-weight: normal 600;
    color: #FFFFFF;
}