.rider-table{
    overflow-x:auto;
    top: 50px;
    position: relative;
    margin-left: 32px;
    margin-right: 52px;
}
table {
    border-width: 0px;
    border-spacing: 0;
    width: 100%;
  }
  
  th{
    background-color: #501ABF;
    color: #ffffff;
    font: normal 400 16px Poppins;
    padding: 0px;
  }
  th, td {
    text-align: left;
    line-height: 54px;
    padding-left:50px;
    padding-Right:50px;
  }
  td {
    padding-top: 30px;
  }

 
  .tableimg{
    width: 40px;
    height: 40px;
  }
  /* tr:nth-child(even){background-color: #f2f2f2} */

  .tableHead2{
    display: flex;
    justify-content: center;
  	align-items: center;
    padding-left: 74px;
padding-right: 74px;
margin-top: 88px;
  }
  .btnaddnew{
position: relative;
margin-left: auto;
width: 222px;
height: 69px;
border: 1px solid #501ABF;
border-radius: 44px;
opacity: 1;
background-color: #ffffff;

  }
 .subhead{
   color: #501ABF;
 }

 .btntext{
  color: #501ABF;
 }