.css-1s2u09g-control, .css-1pahdxg-control{
    width: 100% !important;
    height: 88px !important;
    border: 1px solid #ccc !important;
    border-radius: 100px !important;
}
.css-g1d714-ValueContainer{
 padding-left: 30px !important;   
}
.css-319lph-ValueContainer{
display: flex !important;
padding-left: 30px !important;   
}
.css-1okebmr-indicatorSeparator{
    display: none;
}
.css-tlfecz-indicatorContainer,.css-1gtu0rj-indicatorContainer{
    padding-right: 30px !important;
}
.css-26l39u-menu{
    background-color: aliceblue !important;
}
.css-14el2xx-placeholder{
font-size: 30px !important;
}
.react-select-container{
    background-color: red !important;
    color: red !important;
}