.card-background .Addrider-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 700px;
  height: fit-content;
  text-align: center;
  padding: 40px;
  border-radius: 44px;
  border-style: solid;
  border-width: 0.1px;
  border-color: #e6e6e6;
  background-color: #ffffff;
}
.card-background .Addrider-card .card-head {
  display: flex;
  align-items: center;
}

.card-background .Addrider-card h1 {
  position: relative;
  margin-bottom: 0px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  height: 43px;
  font: normal normal bold 30px Poppins;
  color: #5016bf;
}
.card-background .Addrider-card img {
  height: 24px;
  width: 24px;
}

.card-background .Addrider-card .form-card {
  margin-top: 74px;
  position: relative;
}

.card-background .Addrider-card .input {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 17px;
  border: 0.5px solid #afafaf;
  border-radius: 44px;
  box-sizing: border-box;
  font: normal 16px Poppins;
  letter-spacing: 0px;
  color: #afafaf;
  padding-left: 44px;
}

.card-background .Addrider-card .login-submit {
  position: relative;
  width: 65%;
  height: 60px;
  margin-top: 35px;
  background: #5016bf;
  border-radius: 44px;
  font: normal 500 30px Poppins;
  border: none;
  color: #ffffff;
}

.card-background .Addrider-card .upload-pic {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 34px;
}
.card-background .Addrider-card .upload-pic .uploadTxt {
  margin-top: 6.5px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

/* .card-background .Addrider-card .upload-pic .uploadBtn::-webkit-file-upload-button {
    visibility: hidden;
  }
.card-background .Addrider-card .upload-pic .uploadBtn{
    font-size: 20px;
    
} */
/* #custom-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #custom-button:hover {
    background-color: #00b28f;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  } */

.card-background .Addrider-card .upload-pic .uploadbtn {
  width: 157px;
  height: 49px;
  font: normal 600 21px Poppins;
}

@media only screen and (max-width: 768px) {
  .card-background .Addrider-card {
    width: 85%;
    vertical-align: middle; /*Vertically centered*/
  }
  .card-background .Addrider-card .form-card {
    width: 100%;
    margin-top: 50px;
  }
  .card-background .Addrider-card .input {
    box-sizing: border-box;
    width: 100%;
    font: normal 16px Poppins;
    height: 60px;
    border-radius: 35px;
  }

  .card-background .Addrider-card .login-submit {
    box-sizing: border-box;
    width: 100%;
    font: normal 500 16px Poppins;
    height: 60px;
    border-radius: 35px;
  }

  .card-background .Addrider-card .reset {
    font: normal 16px Poppins;
  }

  .card-background .Addrider-card {
    height: fit-content;
  }
}
@media only screen and (max-width: 570px) {
  .card-background .Addrider-card .upload-pic .uploadTxt {
    font-size: 15px;
  }
  .card-background .Addrider-card .upload-pic .uploadbtn {
    width: 120px;
    height: 30px;
    font: normal 600 16px Poppins;
  }
  .card-background .Addrider-card .upload-pic {
    padding: 10px;
  }
  .card-background .Addrider-card h1 {
    height: 20px;
    font: normal normal bold 25px Poppins;
  }
  .card-background .Addrider-card .input {
    font: normal 20px Poppins;
    height: 60px;
  }
  .card-background .Addrider-card .login-submit {
    font: normal 20px Poppins;
    height: 60px;
    margin-top: 15px;
  }
  .card-background {
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
  }
  .card-background .Addrider-card {
    width: 78%;
  }
}
