.mainNav{ 
    display: flex;
    top: 1.2%;
    left: 83.2%;
    width: 100%;
}

.mainNav .title{
top: 23px;
left: 32px;
width: 235px;
height: 57px;
/* UI Properties */
opacity: 1;
position: relative;
}
.mainNav .title h1{
font: normal normal bold 41px;
letter-spacing: 0px;
color: #000000;
margin: 0;
}
.mainNav .profile{
    position: relative;
    display: flex;

align-items: center;
justify-content: center;
    left: 1088px;
    top: 22px;
    
}
.mainNav .profile .profilePic{
    position: relative;
    top: 0px;
    width: 60px;
height: 60px;
}
.mainNav .profile .subTitle{
    position: relative;
    
    margin-left: 22px;
}
.mainNav .profile .subTitle h2{
    font-weight: normal medium;
    font-size: 17px;
    color: #000000;
    margin: 0;
}
.mainNav .profile .drop img{
    position: relative;
    margin-left: 33px;
    
    width: 17px;
    height: 17px;
    

}
